/** @format */

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 0.6em 0.2em;
  background-color: var(--sec-clr);
  background-color: rgba(0, 128, 0, 0.8);
  position: fixed;
  top: 0;
  z-index: 5;
  /* direction: ltr; */
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}

.nav .logo {
  /* margin-left: 70px; */
  font-weight: 600;
  color: var(--font-clr);
  color: white;
}

.theme {
  padding: 0.6em;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.theme:hover {
  background-color: var(--hover-clr);
}
.userNav {
  display: flex;
  justify-content: center;
  align-items: center;

  /* margin: 0 20px; */
  border-radius: 50%;
  background: none;
}

.userNav .profileImg {
  border-radius: 50%;
  max-width: 40px;
  min-width: 40px;
  max-height: 40px;
  min-height: 40px;
}
